<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youqiancheng.mybatis.dao.A12ServiceAgreementDao">

    <resultMap id="a12ServiceAgreementResultMap" type="com.youqiancheng.mybatis.model.A12ServiceAgreementDO">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="create_person" property="createPerson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_person" property="updatePerson"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>



    </resultMap>

    <sql id="a12ServiceAgreementColumns">
        a12_service_agreement.id AS "id",
        a12_service_agreement.content AS "content",
        a12_service_agreement.create_person AS "createPerson",
        a12_service_agreement.create_time AS "createTime",
        a12_service_agreement.update_person AS "updatePerson",
        a12_service_agreement.update_time AS "updateTime",
        a12_service_agreement.delete_flag AS "deleteFlag"
    </sql>

    <sql id="a12ServiceAgreementJoins">

    </sql>

    <select id="get" resultType="com.youqiancheng.mybatis.model.A12ServiceAgreementDO">
        SELECT
        <include refid="a12ServiceAgreementColumns" />
        FROM a12_service_agreement <include refid="a12ServiceAgreementJoins" />
        <where>
        a12_service_agreement.id = #{id}
        </where>
    </select>


    <select id="list" resultType="com.youqiancheng.mybatis.model.A12ServiceAgreementDO">
        SELECT
        <include refid="a12ServiceAgreementColumns" />
        FROM a12_service_agreement <include refid="a12ServiceAgreementJoins" />
        <where>
                    <if test='content!= null and content !=""'> and content = #{content} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null  '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null  '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by #{sort} #{order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="listHDPage" resultType="com.youqiancheng.mybatis.model.A12ServiceAgreementDO">
        SELECT
        <include refid="a12ServiceAgreementColumns" />
        FROM a12_service_agreement <include refid="a12ServiceAgreementJoins" />
        <where>
                    <if test='content!= null and content !=""'> and content = #{content} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null  '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by #{sort} #{order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from a12_service_agreement
        <where>
                    <if test='content!= null and content !=""'> and content = #{content} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null  '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
    </select>



    <insert id="insertBatch">
        INSERT INTO a12_service_agreement(
                        content,
            create_person,
            create_time,
            update_person,
            update_time,
            delete_flag
        )
        VALUES
        <foreach collection ="list" item="a12ServiceAgreement" separator =",">
        (
                        #{a12ServiceAgreement.content},
            #{a12ServiceAgreement.createPerson},
            #{a12ServiceAgreement.createTime},
            #{a12ServiceAgreement.updatePerson},
            #{a12ServiceAgreement.updateTime},
            #{a12ServiceAgreement.deleteFlag}
        )
        </foreach>
    </insert>

    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE a12_service_agreement
            <set>
                        <if test='item.content !=null and item.content !=""' >content = #{item.content},</if>
        <if test='item.createPerson !=null and item.createPerson !=""' >create_person = #{item.createPerson},</if>
        <if test='item.createTime !=null      ' >create_time = #{item.createTime},</if>
        <if test='item.updatePerson !=null and item.updatePerson !=""' >update_person = #{item.updatePerson},</if>
        <if test='item.updateTime !=null       ' >update_time = #{item.updateTime},</if>
        <if test='item.deleteFlag !=null and item.deleteFlag !=""' >delete_flag = #{item.deleteFlag},</if>
            </set>
            <where>
                id = #{item.id}
            </where>
        </foreach>
    </update>

    <update id="updateStatus">
        UPDATE a12_service_agreement
        <set>
                    <if test='content !=null and content !=""' >content = #{content},</if>
        <if test='createPerson !=null and createPerson !=""' >create_person = #{createPerson},</if>
        <if test='createTime !=null   ' >create_time = #{createTime},</if>
        <if test='updatePerson !=null and updatePerson !=""' >update_person = #{updatePerson},</if>
        <if test='updateTime !=null    ' >update_time = #{updateTime},</if>
        <if test='deleteFlag !=null and deleteFlag !=""' >delete_flag = #{deleteFlag},</if>
        </set>
        WHERE id in
        <foreach collection="ids" index="index" item="id"
                 separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>
