<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youqiancheng.mybatis.dao.B05CollectionDao">

    <resultMap id="b05CollectionResultMap" type="com.youqiancheng.mybatis.model.B05CollectionDO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="relation_id" property="relationId"/>
        <result column="create_person" property="createPerson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_person" property="updatePerson"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>



    </resultMap>

    <sql id="b05CollectionColumns">
        b05_collection.id AS "id",
        b05_collection.user_id AS "userId",
        b05_collection.type AS "type",
        b05_collection.relation_id AS "relationId",
        b05_collection.create_person AS "createPerson",
        b05_collection.create_time AS "createTime",
        b05_collection.update_person AS "updatePerson",
        b05_collection.update_time AS "updateTime",
        b05_collection.delete_flag AS "deleteFlag"
    </sql>

    <sql id="b05CollectionJoins">

    </sql>

    <select id="get" resultType="com.youqiancheng.mybatis.model.B05CollectionDO">
        SELECT
        <include refid="b05CollectionColumns" />
        FROM b05_collection <include refid="b05CollectionJoins" />
        <where>
        b05_collection.id = #{id}
        </where>
    </select>


    <select id="list" resultType="com.youqiancheng.mybatis.model.B05CollectionDO">
        SELECT
        <include refid="b05CollectionColumns" />
        FROM b05_collection <include refid="b05CollectionJoins" />
        <where>
                    <if test='userId!= null and userId !=""'> and user_id = #{userId} </if>
        <if test='type!= null and type !=""'> and type = #{type} </if>
        <if test='relationId!= null and relationId !=""'> and relation_id = #{relationId} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null   '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null    '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by #{sort} #{order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="listHDPage" resultType="com.youqiancheng.mybatis.model.B05CollectionDO">
        SELECT
        <include refid="b05CollectionColumns" />
        FROM b05_collection <include refid="b05CollectionJoins" />
        <where>
                    <if test='userId!= null and userId !=""'> and user_id = #{userId} </if>
        <if test='type!= null and type !=""'> and type = #{type} </if>
        <if test='relationId!= null and relationId !=""'> and relation_id = #{relationId} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null   '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null    '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by #{sort} #{order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="getCollectionShopHDPage" resultType="com.youqiancheng.mybatis.model.F01ShopDO">
        SELECT  a.*
        FROM f01_shop a, b05_collection b
        where a.id=b.relation_id and b.user_id=#{userId} and b.type=#{type}
        GROUP BY  a.id
        order by b.create_time desc
    </select>
       <select id="getCollectionPublicityHDPage" resultType="com.youqiancheng.mybatis.model.C10PublicityDO">
        SELECT c.*
        FROM c10_publicity c, b05_collection b
        where c.id=b.relation_id and b.user_id=#{userId} and b.type=#{type}
        order by b.create_time desc
    </select>

    <select id="getCollectionGoodsHDPage" resultType="com.youqiancheng.mybatis.model.C01GoodsDO">
        SELECT a.*
        FROM c01_goods a, b05_collection b
        where a.id=b.relation_id and b.user_id=#{userId} and b.type=#{type}
        order by b.create_time desc
    </select>

    <select id="count" resultType="int">
        select count(*) from b05_collection
        <where>
                    <if test='userId!= null and userId !=""'> and user_id = #{userId} </if>
        <if test='type!= null and type !=""'> and type = #{type} </if>
        <if test='relationId!= null and relationId !=""'> and relation_id = #{relationId} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null   '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null    '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
    </select>



    <insert id="insertBatch">
        INSERT INTO b05_collection(
                        user_id,
            type,
            relation_id,
            create_person,
            create_time,
            update_person,
            update_time,
            delete_flag
        )
        VALUES
        <foreach collection ="list" item="b05Collection" separator =",">
        (
                        #{b05Collection.userId},
            #{b05Collection.type},
            #{b05Collection.relationId},
            #{b05Collection.createPerson},
            #{b05Collection.createTime},
            #{b05Collection.updatePerson},
            #{b05Collection.updateTime},
            #{b05Collection.deleteFlag}
        )
        </foreach>
    </insert>

    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE b05_collection
            <set>
                        <if test='item.userId !=null and item.userId !=""' >user_id = #{item.userId},</if>
        <if test='item.type !=null and item.type !=""' >type = #{item.type},</if>
        <if test='item.relationId !=null and item.relationId !=""' >relation_id = #{item.relationId},</if>
        <if test='item.createPerson !=null and item.createPerson !=""' >create_person = #{item.createPerson},</if>
        <if test='item.createTime !=null      ' >create_time = #{item.createTime},</if>
        <if test='item.updatePerson !=null and item.updatePerson !=""' >update_person = #{item.updatePerson},</if>
        <if test='item.updateTime !=null       ' >update_time = #{item.updateTime},</if>
        <if test='item.deleteFlag !=null and item.deleteFlag !=""' >delete_flag = #{item.deleteFlag},</if>
            </set>
            <where>
                id = #{item.id}
            </where>
        </foreach>
    </update>

    <update id="updateStatus">
        UPDATE b05_collection
        <set>
                    <if test='userId !=null and userId !=""' >user_id = #{userId},</if>
        <if test='type !=null and type !=""' >type = #{type},</if>
        <if test='relationId !=null and relationId !=""' >relation_id = #{relationId},</if>
        <if test='createPerson !=null and createPerson !=""' >create_person = #{createPerson},</if>
        <if test='createTime !=null   ' >create_time = #{createTime},</if>
        <if test='updatePerson !=null and updatePerson !=""' >update_person = #{updatePerson},</if>
        <if test='updateTime !=null    ' >update_time = #{updateTime},</if>
        <if test='deleteFlag !=null and deleteFlag !=""' >delete_flag = #{deleteFlag},</if>
        </set>
        WHERE id in
        <foreach collection="ids" index="index" item="id"
                 separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>
