<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youqiancheng.mybatis.dao.B09BankCardDao">

    <resultMap id="b09BankCardResultMap" type="com.youqiancheng.mybatis.model.B09BankCardDO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="card_no" property="cardNo"/>
        <result column="create_person" property="createPerson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_person" property="updatePerson"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>



    </resultMap>

    <sql id="b09BankCardColumns">
        b09_bank_card.id AS "id",
        b09_bank_card.user_id AS "userId",
        b09_bank_card.type AS "type",
        b09_bank_card.card_no AS "cardNo",
        b09_bank_card.create_person AS "createPerson",
        b09_bank_card.create_time AS "createTime",
        b09_bank_card.update_person AS "updatePerson",
        b09_bank_card.update_time AS "updateTime",
        b09_bank_card.delete_flag AS "deleteFlag"
    </sql>

    <sql id="b09BankCardJoins">

    </sql>

    <select id="get" resultType="com.youqiancheng.mybatis.model.B09BankCardDO">
        SELECT
        <include refid="b09BankCardColumns" />
        FROM b09_bank_card <include refid="b09BankCardJoins" />
        <where>
        b09_bank_card.id = #{id}
        </where>
    </select>


    <select id="list" resultType="com.youqiancheng.mybatis.model.B09BankCardDO">
        SELECT
        <include refid="b09BankCardColumns" />
        FROM b09_bank_card <include refid="b09BankCardJoins" />
        <where>
                    <if test='userId!= null and userId !=""'> and user_id = #{userId} </if>
        <if test='type!= null and type !=""'> and type = #{type} </if>
        <if test='cardNo!= null and cardNo !=""'> and card_no = #{cardNo} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null   '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null    '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by #{sort} #{order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="listHDPage" resultType="com.youqiancheng.mybatis.model.B09BankCardDO">
        SELECT
        <include refid="b09BankCardColumns" />
        FROM b09_bank_card <include refid="b09BankCardJoins" />
        <where>
                    <if test='userId!= null and userId !=""'> and user_id = #{userId} </if>
        <if test='type!= null and type !=""'> and type = #{type} </if>
        <if test='cardNo!= null and cardNo !=""'> and card_no = #{cardNo} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null   '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null    '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by #{sort} #{order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from b09_bank_card
        <where>
                    <if test='userId!= null and userId !=""'> and user_id = #{userId} </if>
        <if test='type!= null and type !=""'> and type = #{type} </if>
        <if test='cardNo!= null and cardNo !=""'> and card_no = #{cardNo} </if>
        <if test='createPerson!= null and createPerson !=""'> and create_person = #{createPerson} </if>
        <if test='createTime!= null   '> and create_time = #{createTime} </if>
        <if test='updatePerson!= null and updatePerson !=""'> and update_person = #{updatePerson} </if>
        <if test='updateTime!= null    '> and update_time = #{updateTime} </if>
        <if test='deleteFlag!= null and deleteFlag !=""'> and delete_flag = #{deleteFlag} </if>
        </where>
    </select>



    <insert id="insertBatch">
        INSERT INTO b09_bank_card(
                        user_id,
            type,
            card_no,
            create_person,
            create_time,
            update_person,
            update_time,
            delete_flag
        )
        VALUES
        <foreach collection ="list" item="b09BankCard" separator =",">
        (
                        #{b09BankCard.userId},
            #{b09BankCard.type},
            #{b09BankCard.cardNo},
            #{b09BankCard.createPerson},
            #{b09BankCard.createTime},
            #{b09BankCard.updatePerson},
            #{b09BankCard.updateTime},
            #{b09BankCard.deleteFlag}
        )
        </foreach>
    </insert>



    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE b09_bank_card
            <set>
                        <if test='item.userId !=null and item.userId !=""' >user_id = #{item.userId},</if>
        <if test='item.type !=null and item.type !=""' >type = #{item.type},</if>
        <if test='item.cardNo !=null and item.cardNo !=""' >card_no = #{item.cardNo},</if>
        <if test='item.createPerson !=null and item.createPerson !=""' >create_person = #{item.createPerson},</if>
        <if test='item.createTime !=null      ' >create_time = #{item.createTime},</if>
        <if test='item.updatePerson !=null and item.updatePerson !=""' >update_person = #{item.updatePerson},</if>
        <if test='item.updateTime !=null       ' >update_time = #{item.updateTime},</if>
        <if test='item.deleteFlag !=null and item.deleteFlag !=""' >delete_flag = #{item.deleteFlag},</if>
            </set>
            <where>
                id = #{item.id}
            </where>
        </foreach>
    </update>

    <update id="updateStatus">
        UPDATE b09_bank_card
        <set>
                    <if test='userId !=null and userId !=""' >user_id = #{userId},</if>
        <if test='type !=null and type !=""' >type = #{type},</if>
        <if test='cardNo !=null and cardNo !=""' >card_no = #{cardNo},</if>
        <if test='createPerson !=null and createPerson !=""' >create_person = #{createPerson},</if>
        <if test='createTime !=null   ' >create_time = #{createTime},</if>
        <if test='updatePerson !=null and updatePerson !=""' >update_person = #{updatePerson},</if>
        <if test='updateTime !=null    ' >update_time = #{updateTime},</if>
        <if test='deleteFlag !=null and deleteFlag !=""' >delete_flag = #{deleteFlag},</if>
        </set>
        WHERE id in
        <foreach collection="ids" index="index" item="id"
                 separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>
